* {
    font-family: 'Cabin Sketch', cursive;
}

header {
    position: relative;
}

h1 {
    position: absolute;
    left: 530px;
}


.etch {
    position: relative;
    top: 60px;
    left: 350px;
    background-color: red;
    border-radius: 25px;
    height: 525px;
    width: 600px;
    border: solid black 1px;
}

.pad {
    background-color: white;
    width: 500px;
    height: 400px;
    position: relative;
    left: 50px;
    top: 50px;
}

.pad {
    cursor: url('../images/small-quill.png'), auto;
}

.left_button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: solid black 1px;
}

.right_button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: solid black 1px;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.settings {
    z-index: 1;
    position: relative;
    top: 100px;
    left: 425px;
}

div#author {
    position: relative;
    left: 50px;
    font-size: 20px;
}

input#pen {
    font-size: 15px;
    text-align: center;
    width: 23px;
    background-color: #ebebeb;
    border: solid #949494 1px;
}

.square {
    height: auto;
    width: auto;
    border: solid black 1px;
}